body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    scroll-behavior: smooth;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    z-index: 999;
    background-color: #4b4b4b5b;
    backdrop-filter: blur(10px);
}

.head-left {
    display: flex;
    align-items: center;
}

.head-left img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.head-left button {
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;;
}

.head-left button:hover {
    opacity: 0.7;
}

.head-right {
    display: flex;
}

.head-right a {
    text-decoration: none;
    padding-left: 25px;
    color: white;
    font-size: 15px;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-vid{
    width: 100%;
    height: 100%;
    object-fit: relative;
}

.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    
.hero-info {
    z-index: 1;
    position: absolute;
    top: 80px;
    left: 50px;
}

.hero-info h1 {
    font-size: 120px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px
}

.hero-info p {
    color: white;
    max-width: 210px;
}

.hero-info button {
    background-color: #edff66;
    border: 2px solid #edff66;
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    color: black;
    transition: 0.3s;
}

.hero-info button:hover {
    background-color: transparent;
    color: white;
    box-shadow: 0 0 15px #edff66;
}

.gaming-text {
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    position: absolute;
    right: 20px;
    bottom: 30px;
}

.next-btn {
    width: 200px;
    height: 200px;
    background-color: #edff66;
    position: absolute;
    left: 45%;
    bottom: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    transition: 0.3s;
}

.next-btn:hover {
    width: 200px;
    height: 200px;
    opacity: 1;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.623);
}

.about-section {
    width: 100%;
    height: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.imagem-box {
    width: 360px;
    height: 510px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.imagem-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.about-section p {
    font-size: 12;

}

.about-section h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: 100px;
    max-width: 1150px;
    text-align: center;
    margin: 25px 0;
    text-transform: uppercase;
    background: linear-gradient(to right, #4acfee, #53f8c9, #02d79a, #6070fd, #2a46ff, #0099ff, #4acfee);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}


@keyframes animate-gradient {
    to {
        background-position: 200% center;
    }
}

.about-section h4 {
    margin-top: 50px;
    margin-bottom: 0;
}

.about-section h5 {
    margin-top: 5;
    color: gray;
    max-width: 425px;
    text-align: center;
    line-height: 25px;
}

.info-section {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    margin-top: 100px;
}

.info-section h3 {
    margin-bottom: 0;
}

.info-section p {
    margin-top: 5px;
    color: gray;
    max-width: 400px;
    line-height: 25px;
}

.info-cards {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.card {
    position: relative;
    width: auto;
    height: 40vh;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 20px;
    transition: 0,5s;
}

.card h1 {
    position: absolute;
    margin: 0;
    top: 10px;
    left: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    z-index: 1;
    background: linear-gradient(to right, #4acfee, #53f8c9, #02d79a, #6070fd, #2a46ff, #0099ff, #4acfee);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
    max-width: 250px;
}

.card p {
    position: absolute;
    top: 80px;
    left: 5%;
    z-index: 1;
    max-width: 250px;
    color: lightgray
}

.card video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card button {
    position: absolute;
    bottom: 5%;
    left: 5%;
    padding: 10px 25px;
    border: 1px solid gray;
    background-color: #0f1217;
    color: gray;
    border-radius: 20px;
    box-shadow: 0 0 5px lightgray;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    box-sizing: 0 0 15px lightgray;
    opacity: 0.7;
}

.card:hover {
    box-shadow: 0 0 15px rgb(212, 212, 212);
}

.card:nth-child(1) {
    grid-column: span 2;
}

.card:nth-child(2) {
    grid-row: span 2;
    height: 83vh;
}

.download-section {
    /* position: relative;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; */

    position: relative;
    width: 100%;
    height: 100vh; /* Usamos a altura total da tela */
    margin-top: 100px;
    margin-bottom: 200px;
    /* O Flexbox aqui serve para centralizar o .download-info */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.download-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1; /* Garante que o texto fique acima de qualquer imagem */
}

/* Estilos para o texto e botão, para corresponder ao tutorial */
.download-info h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px; /* Ajuste o tamanho conforme necessário */
    max-width: 600px;
    margin: 15px 0;
}

.download-info p {
    color: gray;
}

.download-info button {
    padding: 15px 40px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.download-info button:hover {
    background-color: white;
    color: black;
}

/* novo */

.download-section .img1 {
    position: absolute;
    top: 10%;
    right: 20px;
    height: 400px;
    clip-path: polygon(32% 0, 94% 0, 74% 100%, 0 100%);
}

.download-section .img2 {
    position: absolute;
    left: 50px;
    top: 10px;
    height: 400px;
    clip-path: polygon(35% 7%, 75% 0%, 100% 50%, 75% 100%, 35% 93%, 12% 50%);
}

.download-section .img3 {
    position: absolute;
    left: 5%;
    bottom: 10px;
    height: 400px;
    width: 250px;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 34% 94%, 0% 38%);
}

